body
{
  background-color: #ECEFF1;
}

.is_signaled
{
  background-color: #9E9E9E !important;
  transition: background 0.3s;
}

.vote-form
{
  display: inline-block;
}


/* RESPONSIVE */

  @media all and (max-width: 482px){
    nav .brand-logo
    {
      font-size: 1.3em;
    }
  }
